/* Estilo básico para garantir boa aparência e usabilidade */
body {
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#sidebar h3 {
    color: #1f2937; /* Azul escuro para destaque */
}

.marker-default {
    transition: border 0.3s ease, transform 0.3s ease;
    border: 2px solid transparent;
}

.marker-hover {
    border-color: orange;
    transform: scale(1.1);
}

#empresa-list {
    z-index: 1000;
}

#empresa-list li {
    padding: 8px;
    cursor: pointer;
}

#empresa-list li:hover {
    background-color: #f0f0f0;
}