body {
    display: flex;
    margin: 0;
    height: 100vh;
}
#map {
    flex: 2;
    height: 100%;
}
#gps-info {
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4;
    overflow-y: auto;
}
#gps-info h2 {
    margin: 0 0 10px 0;
}
.empresa-item {
    margin-bottom: 10px;
}
.empresa-item label {
    cursor: pointer;
}

.leaflet-routing-container-hide{
    display: none;
}