<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa com Pontos Específicos</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleGps.css') }}">
</head>
<body>
    <div id="map"></div>
    <div id="gps-info">
        <h2>Informações GPS</h2>
        <ul id="gps-list"></ul>
    </div>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <script src="{{ url_for('static', filename='js/scriptGps.js') }}"></script>
</body>
</html>
